.portfolio__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: calc(-1 * var(--header-height)) 0 0;
  cursor: default;
  user-select: none;
}

/* heading size */
.about__small-heading {
  font-size: clamp(1rem, 5vw, 2.5rem);
  margin: 0;
}
.about__large-heading {
  font-size: clamp(3rem, 8vw, 8rem);
  margin: 0;
  line-height: 1.25;
}

.portfolio__about > h1 {
  color: var(--baby-blue);
}

.portfolio__about > h2 {
  color: var(--blue-green);
}

.portfolio__about > h3 {
  color: var(--blue-grotto);
  margin-bottom: -10px;
}
.portfolio__about > p {
  font-size: clamp(0.75rem, 5vw, 1.5rem);
  width: 50vw;
  margin-block-end: 0;
  color: hsl(190, 76%, 33%);
}
