:root {
  --navy-blue: hsl(198, 90%, 19%);
  /* actual blue grotto is 40% brightness, changed for readability */
  --blue-grotto: hsl(190, 76%, 50%);
  --blue-green: hsl(174, 69%, 68%);
  --baby-blue: hsl(186, 59%, 89%);

  --header-height: 75px;
}
